.weather-widget {
    max-width: 400px;
    margin: 0 auto;
    background: linear-gradient(to bottom, #52d4ff, #7bbdff);
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 20px;
}

h1, h2 {
    margin-top: 0;
    font-weight: normal;
    text-align: center;
}

.current-weather, .future-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 36px;
    font-family: Arial, sans-serif;
    text-align: center;
    font-style: italic;
    text-shadow: 2px 2px #ccc;
  }
  
  h2 {
    font-size: 24px;
    font-family: Arial, sans-serif;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
  }

.weather-icon {
    margin-bottom: 10px;
}

.temperature {
    font-size: 36px;
    font-weight: bold;
}

.description {
    margin-top: 10px;
    text-transform: capitalize;
}

.future-days {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.day {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.day-name {
    font-weight: bold;
    text-transform: uppercase;
}

.average-temp {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label {
    margin-right: 10px;
}

.value {
    font-size: 24px;
}

